.btn {
    border-radius: 0px;
    /*	border: 1px solid lightgrey;*/
    background-color: #f8f8f8;
    background-color: var(--color-light);
    min-height: 20px;
    cursor: pointer;
}

.btn-default {
    padding: 15px;
}

.btn-close {
    font-size: 1em;
    font-size: var(--font-small);
}

.btn:focus,
.btn:active,
.btn:focus:active {
    outline: none;
}

.btn-search {
    min-width: 20px;
}

.btn-search:after {
    content: '';
}

.btn-main,
.btn-main:active,
.btn-main:focus,
.btn-main:focus:active,
.btn-main:visited {
    background-color: #3f5fa7 !important;
    background-color: var(--color-main) !important;
    color: white;
    font-weight: 700;
    font-size: 1em;
    font-size: var(--font-small);
    transition: all 400ms ease;
    cursor: pointer;
}

.btn-main:hover {
    background-color: white !important;
    color: #3f5fa7;
    color: var(--color-main);
    box-shadow: inset 0px 0px 0px 5px #3f5fa7;
    box-shadow: inset 0px 0px 0px 5px var(--color-main);
}

.edit-button i {
    padding: 0 15px;
    font-size: 80%;
    transform: translateY(-2px);
}


/* bouton retout en haut */

#back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    padding: 15px 18px;
    border-radius: 30px;
    color: #3f5fa7;
    color: var(--color-main);
}

input:hover {
    cursor: text;
}

.font-huge {
    font-size: 10vw;
    font-weight: 700;
    color: #3f5fa7;
    color: var(--color-main);
    opacity: 1;
}

.font-big {
    font-size: 3vw;
    font-weight: 500;
    text-align: justify;
    opacity: 1;
}

.font-title {
    font-size: 1.4em;
    font-size: var(--font-big);
    margin-bottom: 15px;
    transition: color 500ms ease;
    opacity: 1;
}

.font-title:hover {
    color: #3f5fa7;
    color: var(--color-main);
    cursor: pointer;
}

.font-title:before {
    content: '# ';
    color: #3f5fa7;
    color: var(--color-main);
    font-size: 1em;
    font-size: var(--font-small);
}

.font-title.editable:before {
    content: '';
    opacity: 0;
    visibility: hidden;
}

.font-light {
    color: #9f9f9f;
}

.font-light:before {
    content: '> '
}

.font-small {
    color: rgb(51, 51, 51);
    color: var(--color-dark);
}

.color-main {
    color: #3f5fa7;
    color: var(--color-main);
}

.color-on-hover {
    transition: color 300ms ease;
}

.color-on-hover:hover {
    color: #3f5fa7;
    color: var(--color-main);
}

.underlined {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-weight: 700;
}

.underlined:after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #3f5fa7;
    background-color: var(--color-main);
    opacity: 0.6;
    transition: height 200ms ease;
}

.underlined:hover:after {
    height: 100%;
}

@media (max-width: 720px) {
    .font-huge {
        font-size: 48px;
    }
    .font-big {
        font-size: 1.4em;
        font-size: var(--font-big);
    }
}

.fill {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(-50%);
    z-index: -1;
    background: url('../images/nature.jpg') no-repeat center;
}

#btn_retour {
    position: fixed;
    right: 20px;
    top: 90%;
}

#logo {
    display: inline-block;
    animation: logo 5s infinite;
    animation-timing-function: ease;
}

@keyframes logo {
    0% {
        transform: rotate(0deg)
    }
    60% {
        transform: rotate(0deg)
    }
    70% {
        transform: rotate(10deg)
    }
    80% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

#pusher {
    width: 100%;
    height: 0px;
}

.wrapper-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
}

.overlay-black {
    background-color: rgba(0, 0, 0, 0.8);
}


/* CONTENT EDITABLE */

[contenteditable] {
    padding-left: 5px;
    padding-right: 5px;
    border: 3px dashed lightgrey;
    flex-grow: 1;
    cursor: text;
}

[contenteditable]:after {
    display: inline-block;
    opacity: 0.6;
    margin-left: 25px;
    font-style: italic;
}

.added[contenteditable="true"],
.modified[contenteditable="true"] {
    border: 3px dashed #48c143;
    background-color: #c9ffc7;
    cursor: text;
}

.modified[contenteditable="true"]:after {
    content: '( was : ' attr(data-content) ' )';
}

.added[contenteditable="true"]:after {
    content: '( added )';
}

.deleted[contenteditable] {
    border: 3px dashed #e02a2a;
    background-color: #ffd6d6;
    cursor: not-allowed;
}

.deleted[contenteditable]:after {
    content: '( deleted )';
}

[contenteditable]:hover,
[contenteditable]:active,
[contenteditable]:focus {
    background-color: #efefef;
    cursor: text;
}

.added[contenteditable="true"]:hover,
.added[contenteditable="true"]:active,
.added[contenteditable="true"]:focus,
.modified[contenteditable="true"]:hover,
.modified[contenteditable="true"]:active,
.modified[contenteditable="true"]:focus {
    background-color: #91ea8e;
}

.deleted[contenteditable]:hover,
.deleted[contenteditable]:active,
.deleted[contenteditable]:focus {
    background-color: #f78a8a;
}

.long-text[contenteditable="true"]:after {
    content: '';
    display: none;
}


/* TEXTAREA */

textarea {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
}


/* LOGIN */

#connexion-btn {
    overflow: hidden;
    margin: 0;
}

#connexion-btn .fa {
    overflow: hidden;
    width: 1em;
    transition: width 300ms;
    vertical-align: middle;
    line-height: 35px;
}

#connexion-btn .fa-times {
    width: 0em;
}

#connexion-btn p {
    width: 3.5em;
    display: inline-block;
    transition: width 300ms;
    margin: 0;
    line-height: 35px;
}

#connexion-btn [aria-expanded="true"] .fa-sign-in {
    width: 0em;
}

#connexion-btn [aria-expanded="true"] .fa-times {
    width: 1em;
}

#connexion-btn [aria-expanded="true"] p {
    display: none;
}

#main-navbar {
    position: relative;
}

#connexion-dropdown {
    position: absolute;
    right: 0;
    width: 400px;
    z-index: 1;
    background-color: #f8f8f8;
    background-color: var(--color-light);
}

#connexion-dropdown form {
    display: none;
}

#connexion-dropdown form.active {
    display: block;
}

#connexion-dropdown .hr {
    margin: 15px 0;
}

@media (max-width:600px) {
    #connexion-dropdown {
        width: 100vw;
    }
}

.input-group .input-group-addon,
.input-group .form-control {
    border-radius: 0
}

.input-group-addon .fa {
    width: 2em;
}

.nav-pills>li>a {
    color: #3f5fa7;
    color: var(--color-main);
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #3f5fa7;
    background-color: var(--color-main);
}
