.btn {
	border-radius: 0px;
	/*	border: 1px solid lightgrey;*/
	background-color: lightgrey;
	min-height: 20px;
}

.btn:focus,
.btn:active,
.btn:focus:active {
	outline: none;
}

.btn-search {
	min-width: 20px;
}

.btn-search:after {
	content: '';
}

input:hover {
	cursor: text;
}
