.fit {
    display: flex;
}

.fit-large {
    flex-grow: 1;
}

.search-bar {
    margin: 15px 0;
}

.element {
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
    background-color: var(--color-light);
    background-color: #f8f8f8 ;
}

.element-main {
    background-color: var(--color-main);
    background-color: #3f5fa7;
}

.element .element-content {
    padding: 15px;
}

@media (min-width: 992px) {
    .element .element-content {
        /*        max-height: 400px;*/
    }
}

.element-lister li {
    margin-bottom: 15px;
}

.element-lister li:last-child {
    margin-bottom: 0;
}


/* Articles */

.article {
    /*	margin-bottom: 15px;*/
}

.article:hover {
    box-shadow: inset 0px 3px 3px 1px #d3d1d1;
}

.article .wrapper-img {
    width: 100%;
    max-height: 400px;
}

.article-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-text {
    font-size: var(--font-small);
    font-size: 1em;
    text-align: justify;
}

.article-bottom {
    font-size: calc(var(--font-small) + 2px);
    font-size: calc(1em + 2px);
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 15px;
    align-self: flex-end;
    flex-direction: row;
    width: 100%;
}

@media (min-width: 1200px) {
    .article-small {
        display: flex;
    }
    .article-small .wrapper-img,
    .article-small .article-content {
        max-width: 50%;
    }
}


/* Pager */

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.pager-text {
    flex-grow: 3;
}

.pager-element {
    padding: 15px;
    flex-grow: 1;
}

.pager-element:hover,
.pager-element-active {
    background-color: lightgrey;
    cursor: pointer;
}


/* categories */

#categories .fit {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fit-element {
    padding: 10px;
    background-color: var(--color-main);
    background-color: #3f5fa7;
    color: white;
    margin: 5px;
    flex-basis: 20%;
    text-align: center;
    flex-grow: 1;
}

@media (min-width: 998px) {
    .fit-element {}
}


/* results */

.result {
    margin-bottom: 45px;
    margin-left: 15px;
    position: relative;
}

.result:before {
    content: '';
    width: 5px;
    height: 70%;
    position: absolute;
    top: -5px;
    left: -15px;
    border-left: 5px solid #b4b4b4;
}

.result .font-title {
    display: block;
    width: 100%;
}

.result-content {
    height: 100%;
    text-align: justify;
}

.result-content>* {
    float: left;
    height: 100%;
    width: 49%;
    margin-left: 1%;
}


/* Page article */

#text-article {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-article {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 15px;
}


/* Comments */

#comm {
    margin-top: 25px;
}

.comment {
    margin-bottom: 45px;
    margin-left: 15px;
    position: relative;
}

.comment:last-child {
    margin-bottom: 0;
}

.comment:before {
    content: '';
    width: 5px;
    height: 70%;
    position: absolute;
    top: -5px;
    left: -15px;
    border-left: 5px solid #b4b4b4;
}

.comment-infos {
    font-size: var(--font-tiny);
    font-size: 0.7em;
}

.comment-infos .author:before {
    content: 'By '
}

.comment-infos .date:before {
    content: ' - The '
}


/*Hot*/

.hot-picture {
    cursor: pointer;
    position: relative;
    margin: 15px;
}

@media (min-width:998px) {
    .hot-picture {
        margin-left: 0;
        margin-right: 0;
    }
    .hot-picture:first-child {
        margin-top: 0;
    }
    .hot-picture:last-child {
        margin-bottom: 0;
    }
}

.hot-caption {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: white;
    z-index: 2;
    display: none;
}

.hot-picture .overlay,
.hot-picture .hot-caption {
    height: 0;
}

.hot-picture:hover .overlay {
    height: 100%;
}

.hot-picture:hover .hot-caption {
    display: block;
}
