.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.content.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 998px) {
    .content.container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
}

header {
    background: url("../images/nature.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin-bottom: 25px;
}

#articles {
    padding: 0;
}

.footer-about-us {
    margin-bottom: 20px;
}

.footer-copyright {
    text-align: center;
}

footer {
    color: var(--footer-color);
    padding: 20px;
    background-color: var(--background-color-footer);
}

.col2 {
    overflow-y: scroll;
    position: sticky;
    top: 65px;
    max-height: none;
}

@media (min-width: 998px) {
    .row>.col1 {
        padding-right: 15px
    }
    .row>.col2 {
        padding-left: 15px;
        max-height: 90vh;
    }
    .col2.unstick {
        max-height: none;
    }
}

#results {
    margin-top: 25px;
}
