.navbar {
    margin-bottom: 0;
    border-radius: 0px;
}

h1 {
    margin-top: 0;
}

.row {
    margin: 0;
}

.row>div {
    padding: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    color: #3f5fa7;
    color: var(--color-main);
}

a:hover {
    color: black;
    text-decoration: none;
}

.nav-pills > li > a {
    border: none;
    border-radius: 0;
}

.form-control {
    height: auto;
    font-size: inherit;
}
.input-group-addon {
    font-size: inherit;
}