:root {
    --background-color-footer: #3c3c3c;
    --footer-color: white;
    --font-big: 1.4em;
    --font-small: 1em;
    --font-tiny: 0.7em;
    --color-main: #3f5fa7;
    --color-light: #f8f8f8;
    --color-dark: rgb(51, 51, 51);
}
